.description {
    height: 25rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
    text-align: center;

    justify-content: center;

    & .content {
        position: relative;

        & p {
            font-size: var(--text-subtitle);
            color: var(--color-body);
            padding-block: inline-block;
    
            & span {
                color: var(--blue-light);
            }
        }

        & .book {
            position: absolute;
            top: -7rem;
            left: 43%;
        }

        & .oujira {
            position: absolute;
            left: 0;
        }

        & .ball {
            position: absolute;
            right: 0;
        }
    }
}